{% extends 'base-front.html.twig' %}

{% block title %}Bienvenue sur AnimalX{% endblock %}

{% block body %}
<section class="speech " style="background-image: url('build/images/earth_background.jpg');">
  <div class="container" >
    <p class="title text-center">AnimalX est une animalerie spécialisée,</p>
    <p class="title text-center">dans les produits spatiaux pour animaux</p>
  </div>
</section>
<section class="space">
  <div class="container">
    <div class="row ">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class=" ">
          <img src="{{ asset('build/images/celebrite.png') }}" width="50" class="card-top" alt="celebrity">
          <div class="card-body p-0">
            <h5 class="card-title">Celebrité</h5>
            <p class="card-text">Votre animal va devenir une rockstar.<br>
              Il obtiendra la reconnaissance de ces paires<br>
              et des humains</p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class=" ">
          <img src="{{ asset('build/images/livre-de-science.png') }}" width="50" class="card-top" alt="sciences">
          <div class="card-body p-0">
            <h5 class="card-title">Sciences</h5>
            <p class="card-text">Faites avancer la science en permettant<br>
              à votre animal de devenir un explorateur.</p>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class=" ">
          <img src="{{ asset('build/images/voyage-dans-lespace.png') }}" width="50" class="card-top" alt="voyage">
          <div class="card-body p-0">
            <h5 class="card-title">Voyage</h5>
            <p class="card-text">Offrez le voyage de ces rêves à votre animal, <br>
              il vous sera reconnaissant.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{# va surement falloir link une entité #}
<section class="goodDeals">
  <div class="container">
    <h2 class="mt-2 me-1 text-primary"><u>Les plus vendus</u></h2>
    {# carroussel start #}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
      {% for item in items %}
        <div class="carousel-item {% if loop.first %} active {% endif %}">
          <h2 class="text-primary">{{ item.product.label }}</h2>
          <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                {% for image in item.product.productPictures  %}
                  <img src="{{ asset("uploads/products/"~image.path) }}" class="img-fluid" alt="">
                {% endfor %}
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 text-primary">
              <h3>{{ item.product.decription }}</h3>
              <p> <span class="price big">{{ item.product.price|transorm_centime }}€</span> <strong
                  class="price">TTC</strong></p>
              <p>Livraison 24H</p>
              <a href="#">Voir fiche produit -></a><br>
              <a href="{{ path('app_buy', {'id':item.product.id}) }}"class="btn btn-alert mt-3 mb-5">Acheter</a>
            </div>
            <div>
            {# {% for review in item.product.reviews %}

            {% endfor %} #}
            </div>
          </div>
        </div>
        {% endfor %}
        {# <div class="carousel-item active">
          <p class="text-dark">hgfdfghjkl</p>
        </div>
        <div class="carousel-item">
          <p class="text-dark">hgfdfghjkl</p>
        </div> #}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {# carroussel end #}
  </div>
</section>

<section class="space">
  <div class="container">
    <div class="row">
      <h2 class="mt-2"><u>Contacts</u></h2>
      <div class="col-4">
        <img src="{{ asset('build/images/RlogoAnimalXfr.png') }}" class='img-fluid mt-3' alt="Logo">
        <p class="mt-3">SARL Lorem ipsum dolor</p>
        <p>8 rue de l’église</p>
        <p>31000 Nîmes</p>
        <p>Mail : contact@animalx.com</p>
        <p>Tel : +33 (0)4 85 96 57 82</p>
      </div>
      <div class="col-8">
        <iframe style="width: 100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11515.711731111865!2d4.325890727324212!3d43.81585423677714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b42c30575a46ab%3A0x940ad5c41d28d889!2s8%20Rue%20de%20l&#39;%C3%89glise%2C%2030900%20N%C3%AEmes!5e0!3m2!1sfr!2sfr!4v1651502779991!5m2!1sfr!2sfr"
          height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div>
      </div>
</section>


{% endblock %}